.body{
    background-color: rgb(232, 240, 254);
}
.body h2{
    margin-top: 30px;
    margin-bottom: 10px;
    border: 2px solid rgb(72, 64, 156);
    color: rgb(32, 0, 139);
    border-radius: 20px;
    margin-left: 350px;
    margin-right: 350px;
    padding: 8px;
    box-shadow: 3px 3px rgb(22, 22, 129);
}
.body img{
    margin: 10px;
    border: 3px solid rgb(48, 48, 138);
}
h1{
    color: rgb(37, 37, 122);
}